.profilePic {
    width: 30% !important;
}

.profileCard {
    width: 20%;
}

.profileDiv{
    width: 25%;
}

.backgroundDiv{
    background-image:url(./MLB-Logos-baseball-40775627-1024-768.jpg) !important;
}