.profilePic {
    width: 70% !important;
    border: solid 5px #bf8b4b;
    align-self: center !important;
}

.profileCard {
    width: 20%;
    background-color: #f2e1c2 !important;
    /* border: solid 10px #402E1E !important; */
}

.homeCards {
    max-width: 0%;
}

.subtitle {
font-size: 1.5em;
}

.pageHeader {
    font-size: 5em;
}

.headerLogo {
    max-width: 50%;
}

header {
    font-family: 'Cinzel', serif;
}

.homeHeader {
    text-align-last: center;
    width: 30%;
    inline-size: -webkit-fill-available;
    font-family: "Cinzel", serif;
}

.profileCardDiv {
    width: 25%;
    display: flex;
    align-items: center;
    background-color: transparent !important;
    border: solid 5px #402E1E !important;
}

.profileDiv{
    display: flex;
    justify-content: center;
    background-color: transparent !important;
    font-family: "Cinzel", serif;
}

.addCardModalDiv {
    border-top: solid 5px #402E1E !important;
    background-color: #f2e1c2 !important;
}

.homeTitles {
    text-align: center !important;
    font-size: -webkit-xxx-large;
    font-family: "Cinzel", serif;
}

body {
    background: linear-gradient(
        to right,
        #bf8b4b,
        #f2e1c2,
        #d9bd8b,
        #d9b166
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background-size: 400% 400% !important;
      -webkit-animation: Gradient 10s ease infinite;
      -moz-animation: Gradient 10s ease infinite;
      animation: Gradient 10s ease infinite;
}

.btn-secondary .btnColor {
    background-color: #BF8B4B !important;
}