.card-deck{
    flex-flow: row !important;
    /* flex-flow: row !important; */
}

.addCardModalDiv{
    align-items: center;
    max-height:55px;
    max-width: 20%;
}

.cardDetailButton{
    margin-top: 50px;
}

.flexHomeCard{
    display: flex;
    align-self: baseline;
    background: #000000 !important;
    border: outset 10px #4285F4 !important;
    /* padding: 10px; */
}



/* Scrollbar customization */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: purple;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkviolet;
}

/* width */
::-webkit-scrollbar .userCardFlex {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track .userCardFlex{
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb .userCardFlex{
    background: purple;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover .userCardFlex{
    background: darkviolet;
}

/* card customization */
.cardDiv {
    height: 50%;
    display: contents;
}
/* .userCardFlex{
    flex-wrap: wrap !important; 
}  */

.card-img-top{
    height: 250px;
}

.userCardFlex {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    margin: 80px !important;
    border: inset 10px;
}

.cardButtons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.card {
    min-width: 200px !important;
    /* max-height: auto !important; */
}

.cardButton {
    justify-content: baseline !important;
}

.myCardButtons {
    font-size: 10px !important;
}