.card-deck {
  flex-flow: row !important;
  /* flex-flow: row !important; */
}

.addCardModalDiv {
  align-items: center;
  max-height: 55px;
  max-width: 20%;
}

.cardDetailButton {
  margin-top: 50px;
}

.flexHomeCard {
  display: flex;
  align-self: baseline;
  background: #000000 !important;
  border: outset 10px #4285f4 !important;
  /* padding: 10px; */
}

.cardLabel{
  color: #F2E1C2;
  font-family: "Cinzel", serif;
}

/* Scrollbar customization */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BF8B4B;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #402E1E;
}

/* width */
::-webkit-scrollbar .userCardFlex {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track .userCardFlex {
  background: #F2E1C2;
}

/* Handle */
::-webkit-scrollbar-thumb .userCardFlex {
  background: #BF8B4B;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover .userCardFlex {
  background: #D9B166;
}

/* card customization */
.cardDiv {
  height: 50%;
  max-width: 250px !important;
  display: contents;
}
/* .userCardFlex{
    flex-wrap: wrap !important; 
}  */

.card-img-top {
  height: 250px;
}

.userCardFlex {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  margin: 80px !important;
  border: inset 10px #402E1E;
}

.cardButtons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  max-width: 30% !important;
}

.card {
  min-width: 250px !important;
  /* max-height: auto !important; */
}

.cardButtons {
  display: flex;
}

.buttonGroup {
  display: flex;
}

.myCardButtons {
  font-size: 10px !important;
  width: 80px;
}

.cardPlayerName {
  color: #F2E1C2 !important;
  font-family: "Cinzel", serif;
}
