.myCollectionCardFlex {
    justify-content: center;
    /* margin: 5px; */
    justify-content: space-evenly;
}

.myCardDiv {
  margin: 5px;
  padding: 10px;
  border: outset 10px #F2E1C2;
}

.flexMyCard {
  min-width: 200px !important;
  max-width: 230px !important;
}

.searchCollection {
  width: 30% !important;
}

.searchBarDiv {
  display: flex;
  justify-content: center;
}