.splashMainDiv{
    display: flex !important;
    background-image: url("./MLB-Logos-baseball-40775627-1024-768.jpg");
    font-size: xx-large;
    font-family: cursive;
    height: -webkit-fill-available;
    flex-direction: column;
}

.splashDiv{
    display: flex !important;
    font-size: xx-large;
    font-family: cursive;
    flex: auto;
}

.splashHeaderCard{
    background-color: black !important;
    
}

.cardHeader {
    color: #F28705;
}

.splashCardHeader {
    text-align: center;
    align-self: center;
}

.splashTitleCard {
    display: flex !important;
    background-color: #F28705 !important;
    border: black outset 5px;
    font-size: xx-large;
    font-family: cursive;

}

.splashCardDiv {
    /* font-size: ; */
    align-self: center;
    border: black solid 5px;
    border-radius: 0.4em;
}

.loginMainDiv{

}

.loginCol {
    
}