.splashMainDiv {
  display: flex !important;
  font-size: xx-large;
  height: -webkit-fill-available;
  flex-direction: column;
}

.splashDiv {
  display: flex !important;
  font-size: xx-large;
  flex: auto;
  max-width: 50%;
  align-self: center;
}

.splashHeaderCard {
  align-items: center !important;
}

.cardHeader {
  width: 20% !important;
  height: 20% !important;
  /* color: black; */
  font-family: "Cinzel", serif;
}

.infoDiv {
  border: 0px !important;
}

.loginContainer {
  margin-top: 2em;
}

.loginCol {
  border: outset .6em #402e1e;
  border-radius: 1em;
  background-color: #f2e1c2;
}

.splashCardHeader {
  text-align: center;
  width: 100%;
  align-self: center;
}

/* .card-title { */
  /* color: #f28705 !important; */
  /* } */
  
  /* .card-text { */
    /* color: #f28705 !important; */
/* } */

.splashTitleCard {
  display: flex !important;
  background-color: transparent !important;
  /* border: black outset 5px; */
  font-size: xx-large;
  font-family: "Cinzel", serif;
  align-self: flex-start;
  align-items: center;
  border: solid #402e1e 15px !important;
  border-radius: 10% !important;
}

.splashCardDiv {
  align-self: center;
}

.cardP {
  color: #402e1e !important;
}

.loginMainDiv {
  height: 680px;
  display: flex !important;
  /* align-content: center; */
}

body {
  background: linear-gradient(
    to right,
    #bf8b4b,
    #f2e1c2,
    #d9bd8b,
    #d9b166
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400% 400% !important;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
}

.loginContainer {
  align-items: center !important;
  text-align: -webkit-center;
}

.loginButton {
  background-color: #402e1e !important;
}
